// .filter-bar {
//     display: flex;
//     align-items: center;
//     margin-bottom: 20px;
//     gap: 15px;
//   }
  
//   /* SEARCH BOX STYLE */
//   .search-box {
//     position: relative;
//     width: 250px;
//   }
  
//   .search-box input {
//     width: 100%;
//     padding-left: 30px;
//   }
  
//   .search-icon {
//     position: absolute;
//     top: 10px;
//     left: 8px;
//     color: gray;
//   }
  
//   .add-btn {
//     margin-left: auto;
//   }
  

