<!-- <p>add-unit works!</p> -->
<p-card [header]="isEdit ? 'Edit Unit' : 'Add Unit'" class="add-screen">
    

    <!-- <h2>{{ isEdit ? 'Update Unit' : 'Add Unit' }}</h2> -->
  
  
    <form [formGroup]="unitForm">
  
      <div class="form-field mt-3">
        <label>Unit Name</label>
        <input pInputText class="mt-3" formControlName="name" placeholder="KG / Litre / Piece">
      </div>
  
      <div class="form-field mt-3">
        <label>Short Name</label>
        <input pInputText class="mt-3" formControlName="short_name" placeholder="KG / L / PCS">
      </div>
  
      <button
        pButton 
        class="p-button-primary mt-3 save-btn"
        [label]="isEdit ? 'Update Unit' : 'Save Unit'"
        (click)="submit()"
        [loading]="loading">
      </button>




  
  
    </form>
</p-card>

<!-- 
<div class="card"  class="add-screen">
    

    <h2>{{ isEdit ? 'Update Unit' : 'Add Unit' }}</h2>
  
    <p *ngIf="error" class="error">{{ error }}</p>
  
    <form [formGroup]="unitForm">
  
      <div class="form-group">
        <label>Unit Name</label>
        <input pInputText formControlName="name" placeholder="KG / Litre / Piece">
      </div>
  
      <div class="form-group">
        <label>Short Name</label>
        <input pInputText formControlName="short_name" placeholder="KG / L / PCS">
      </div>
  
      <button
        pButton 
        class="p-button-primary mt-3"
        [label]="isEdit ? 'Update Unit' : 'Save Unit'"
        (click)="submit()"
        [loading]="loading">
      </button>
  
    </form>
  
  </div>
   -->