// .filter-bar {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-bottom: 15px;
//     gap: 10px;
//   }
  
//   .search-box {
//     position: relative;
//     width: 250px;
//   }
  
//   .search-icon {
//     position: absolute;
//     left: 10px;
//     top: 10px;
//     color: #777;
//   }
  
//   .search-box input {
//     width: 100%;
//     padding-left: 32px;
//   }
  
//   .add-btn {
//     margin-left: auto;
//   }
  