/* ---------- MAIN WRAPPER ---------- */
.login-wrapper {
    display: flex;
    // height: 100vh;
    width: 100%;
    background: #f7f9fc;
}



/* ---------- LEFT PANEL ---------- */
.left-panel {
    width: 40%;
    // background: linear-gradient(135deg, #ff6e7f, #ff8e53);
    background-image: url('../../../assets/cover-image.jpg');
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 100px;
}

.left-content {
    text-align: center;
    color: white;
}

.active-tab {
    font-size: 32px;
    font-weight: 700;
    padding: 10px 25px;
    background: white;
    color: #ff5e6c;
    border-radius: 30px;
    margin-bottom: 10px;
    display: inline-block;
}

.inactive-tab {
    font-size: 22px;
    opacity: 0.8;
}

/* ---------- RIGHT PANEL ---------- */
.right-panel {
    width: 60%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-section {
    text-align: center;
    margin-bottom: 20px;
}

.login-logo {
    width: 110px;
    margin-bottom: 10px;
}

.login-title {
    font-size: 32px;
    color: #ff5e6c;
    font-weight: bold;
}

/* ---------- FORM ---------- */
.login-form {
    width: 70%;
    margin: auto;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group .icon {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 16px;
    color: grey;
}

.input-group input {
    width: 100%;
    padding: 12px 12px 12px 35px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.forgot {
    color: #ff5e6c;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* ---------- LOGIN BUTTON ---------- */
.login-btn {
    width: 100%;
    background: #ff5e6c !important;
    border: none !important;
    padding: 12px !important;
    border-radius: 25px !important;
    font-size: 16px;
}

/* ---------- SOCIAL LOGIN ---------- */
.social-login {
    text-align: center;
    margin-top: 30px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.google-btn,
.facebook-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 10px 20px;
    background: white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.google-btn img,
.facebook-btn img {
    width: 20px;
}