/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";



.view-screen {


    .filter-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        gap: 10px;
    }

    .search-box {
        position: relative;
        width: 250px;
    }

    .search-icon {
        position: absolute;
        left: 10px;
        top: 10px;
        color: #777;
    }

    .search-box input {
        width: 100%;
        padding-left: 32px;
    }

    .add-btn {
        margin-left: auto;
    }




}

::ng-deep .p-table-wrapper {
    max-height: 60vh;
    /* Change height as you wish */
    overflow-y: auto;
}

::ng-deep .p-table table {
    width: 100%;
}

::ng-deep .p-table-wrapper {
    scrollbar-width: thin;
    scrollbar-color: #999 #eee;
  }


.add-screen {

    // .p-component {
    //     height: 80vh !important;
    //     overflow: scroll;
    // }
    .p-card {
        height: 85vh;
        overflow: scroll;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .form-field {
        display: flex;
        flex-direction: column;
    }

    .full {
        grid-column: span 2;
    }

    label {
        margin-bottom: 5px;
        font-weight: 600;
    }

    .save-btn {
        margin-top: 20px;
        grid-column: span 2;
        background: #ff5e6c !important;
        border: none;
        padding: 12px !important;
        border-radius: 8px;
    }
}