.header-bar {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-box {
    width: 220px;
}

.action-buttons button {
    margin-right: 4px;
}

p-card {
    width: 100%;
}
